.row {
    background-image: url(../assets/tree.png);
    background-color: #466333;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18%;
    height: 100vh;
    width: 100vw;
}
